/* everything */
* {
    font-family: 'Acme', sans-serif;
    margin: 0 auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

/* coloured navigation top menu */
.headerBox {
    padding: 16px;
    text-align: center;
    background: rgba(115, 141, 197, 0.75);
    color: white;
}

/* header logo container */
.subHeaderBox {
    padding: 20px;
}

/* coloured box for highlighting content */
.bodyBox {
    background-color: rgba(115, 141, 197, 0.75);
    color: white;
    font-size: 1.25em;
    padding: 20px 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width: 80%;
}

/* background colour */
body {
    /* background-image: linear-gradient(rgb(91, 112, 156), rgb(115, 141, 197)); */
    background-image:url(/images/background.png);
}

h1.headerText {
    color: white;
    font-family: 'Bangers', sans-serif;
    font-size: 6em;
    letter-spacing: 0.07em;
    text-align: center;
    text-shadow: 2px 2px 1px black;
    text-transform: uppercase;
}

h2.headerSubText {
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 1px black;
    text-transform: uppercase;
}

h2.navi {
    text-shadow: 2px 2px 1px black;
}

/* left-aligned header */
h2.title {
    color: white;
    font-size: 2em;
    margin: 20px 0px;
    padding-left: 10%;
    text-align: left;
    text-shadow: 2px 2px 1px black;
}

p.miniQuote {
    color: white;
    font-family: 'Bangers', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width: 80%;
}


/* all-CSS accordion menu */
.accordion {
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(115, 141, 197, 0.75);
}


.accordion__label {
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    display: block;
    padding: 50px;
    position: relative;
    text-shadow: 2px 2px 1px black;
    transition: background 0.1s;
}

.accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    width: 24px;
    height: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content {
    display: none;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}
