* {
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 1.25em;
    margin: 0 auto;
    /* 5px horizontal 10px vertical */
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

body {
    background-image:url(images/background.png);
}

h1#logoText {
    font-family: 'Bangers', sans-serif;
    font-size: 6em;
    letter-spacing: 12px;
    padding: 0px 50px;
    text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.5);
}

h2.leftTitle {
    padding-left: 10%;
    text-align: left;
}

h2#logoSubText {
    font-size: 1.75em;
    padding: 0px 20px;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
}

h3#navText {
    font-size: 1em;
    padding: 5px 5px;
}

/* all-CSS accordion menu */
.accordion {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
}


.accordion__label {
    cursor: pointer;
    display: block;
    padding: 50px;
    position: relative;
    transition: background 0.5s;
}

.accordion__label:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* positioning the rotating arrow */
.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    width: 24px;
    height: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion__content {
    display: none;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__content {
    display: block;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
}