/* everything */
* {
    font-family: sans-serif;
    margin: 0 auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

/* coloured banner block */
.headerBox {
    padding: 16px;
    text-align: center;
    background: rgb(115, 141, 197);
    color: white;
}

.subHeaderBox {
    /* background-color:rgb(91, 112, 156); */
    padding: 20px;
}

.bodyBox {
    background-color: rgb(115, 141, 197);
    color: white;
    padding: 20px;
    text-align: center;
    width: 80%;
}

/* background colour */
body {
    background-image: linear-gradient(rgb(91, 112, 156), rgb(115, 141, 197));
}

h1.headerText {
    color: white;
    font-family: 'Bangers', sans-serif;
    font-size: 6em;
    letter-spacing: 0.10em;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;
}

h2.headerSubText {
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;
}

p.miniQuote {
    color: white;
    font-family: 'Bangers', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    text-align: center;
}